/* Common styles. */

body {
  background-color: #f6f6f6;
  color: #363636;
  letter-spacing: 0.02em;
}

h1, 
h2, 
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}

h2 {
  text-transform: uppercase;
}

h4 {
  font-weight: 600;
}

.container-fluid {
  width: 100%;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

.container_background-gray {
  background: #fefefe;
}

/* Header and navigation. */

.container__header {
  background: url("./img/background-header.jpg") ;
  background-size: cover;
  background-position: 0 -170px;
}

.container__header .container {
    padding-top: 0px;
}

nav {
  height: 80px;
  padding: 10px;
  text-align: center;
}

nav li  {
  display: inline-block;
  padding: 10px 50px;
}

nav li a {
  text-decoration: none;
  color: #1c4a5a;
  font-size: 18px;
  font-weight: bold;
}

nav li a:hover {
  text-decoration: underline;
}

.profile {
  text-align: center;
  color: #1c4a5a;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

.profile ul {
  padding-left: 0;
}

.profile ul li {
  display: inline-block;
  padding: 10px 20px;
}

.profile ul li a i {
  font-size: 28px;
  color: #1c4a5a;
}

.profile ul li a:hover i {
  color: #ffffff;
}


/* About me block.  */

.about-me__info-list, 
.about-me__personal-text {
  display: inline-block;
  box-sizing: border-box;
}

.about-me__info-list{
  width: 40%;
}

.about-me__personal-text {
  width: 59%;
}

.about-me__info-list ul{
  font-size: 16px;
  list-style: none;
}

.about-me__info-list ul li {
  padding: 14px 0 14px 115px;
  font-size: 16px;
  color: #363636;
  font-weight: 400;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  position: relative;
}

.about-me__info-list ul li strong {
  position: absolute;
  top: 14px;
  left: 0;
  display: block;
  width: 115px;
}

.about-me__info-list ul li strong span {
  padding: 2px 5px;
  background: #1c4a5a;
  color: #fefefe;
  font-weight: 400;
  border-radius: 2px;
}

.about-me__info-list ul li a {
 color: #363636;
 text-decoration: none;
}

.about-me__info-list ul li a:hover {
 text-decoration: underline;
}

.about-me__personal-text p {
  padding: 20px 20px 20px 50px;
  font-size: 16px;
  line-height: 25px;
}


/* Skills block. */

.skills__prof-skills, 
.skills__person-skills {
  display: inline-block;
  box-sizing: border-box;
  width: 49%; 
}

.skillbar {
  padding: 20px 40px;
}

.skill {
 
  height: 16px;
  border: 1px solid #363636;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.percantage {  
  height: 16px;
  border-radius: 6px;
  background-color: #1c4a5a;;
}

/* Professional skills' values. */

.percantage.prof-skills__skill-1 {
  width: 80%;
}

.percantage.prof-skills__skill-2 {
  width: 80%;
}

.percantage.prof-skills__skill-3 {
  width: 70%;
}

.percantage.prof-skills__skill-4 {
  width: 60%;
}

.percantage.prof-skills__skill-5 {
  width: 30%;
}

.percantage.prof-skills__skill-6 {
  width: 95%;
}


/* Personal skills' values. */

.percantage.person-skills__skill-1 {
  width: 80%;
}

.percantage.person-skills__skill-2 {
  width: 75%;
}

.percantage.person-skills__skill-3 {
  width: 70%;
}

.percantage.person-skills__skill-4 {
  width: 85%;
}

.percantage.person-skills__skill-5 {
  width: 90%;
}

.percantage.person-skills__skill-6 {
  width: 70%;
}


/* Education block. */

.education__university, 
.education__rss-school {
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  vertical-align: top;
  text-align: center;
  width: 49%;
}

.education__courses {
  width: 69%;
  vertical-align: top;
  text-align: center;
  margin: 0 auto;
}

.courses__course-info {
  display: inline-block;
  width: 32%;
  vertical-align: top;
}

.logo img {
  width: 100px;
  height: 100px;
}

/* My works block. */

.my-works__work-sample-1,
.my-works__work-sample-2 {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  padding: 30px;
}

.my-works__description {
  display: inline-block;
  box-sizing: border-box;
  width: 49%;
  vertical-align: top;
  padding: 30px;
}

.my-works__description a {
  color:  #363636;
}

.my-works__description a:hover {
  text-decoration: none;
}

.my-works__description p {
  font-size: 16px;
  line-height: 25px;
}

.my-works__work-sample-1 img,
.my-works__work-sample-2 img {
  width: 200px;

}

/* Footer with Contact me form. */

footer {
  background-color: #1c4a5a;
  color: #ffffff;
}

input, 
textarea {
  display: block;
  width: 80%;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857;
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-top: 10px;
}

textarea {
  height: 100px;
}

.contact-form__col-1,
.contact-form__col-2 {
  display: inline-block;
  width: 49%;
  box-sizing: border-box;
  padding: 20px 20px 20px 40px;
  vertical-align: top;
}

.button {
  height: 60px;
  display: inline-block;
  border: 1px solid #ffffff;
  width: 150px;
  padding: 15px 10px 15px 10px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-color: #4dbfd9;
}
